[Unit]
Description=McQueen Jetson GPIO control service
After=network.target

[Service]
Type=simple
User=sravjti
WorkingDirectory=/home/sravjti/McQueen
Environment=PYTHONPATH=/home/sravjti/McQueen
Environment=PYTHONUNBUFFERED=1
ExecStart=/usr/bin/python3 -m robot.jetson_nano.mcqueen_edge.app --jetson --servo-left-us 1250 --servo-center-us 1500 --servo-right-us 1639
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
