[Unit]
Description=Flash McQueen UNO Q STM32 firmware
Requires=arduino-router.service
After=arduino-router.service
Before=mcqueen.service

[Service]
Type=oneshot
User=arduino
Group=arduino
Environment=HOME=/home/arduino
WorkingDirectory=/home/arduino/McQueen
ExecStartPre=/bin/sleep 3
ExecStart=/usr/bin/env arduino-cli upload --fqbn arduino:zephyr:unoq --input-dir /home/arduino/McQueen/build /home/arduino/McQueen/firmware/UnoQDrive
ExecStartPost=/bin/sleep 5
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
